section.climate
    div.climate__image
        img(src="assets/images/climate/1.png", alt="img")
    div.climate__wrap
        h2.climate__title
            |Reversing Climate Change Through Better
            br
            |Business
        p.climate__subtitle
            | Reducing our environmental impact has been a top priority since day one. But now,
            br
            |  we’re taking things further. Explore our overall sustainability approach, our progress
            br
            |  thus far, and our bold list of commitments for 2025.
        a.climate__link(href="#") Our Sustainable Practices
