section.favorites
    div.favorites.container
        h2.favorites__title Our Favorites
        div.favorites__links
            a(href="#") Everyday
            a(href="#") Running
            a(href="#") Travel
        div.favorites__cards
            div.favCard
                div.link1
                    a.men(href="#") Shop Men
                    a.women(href="#") Shop Women
                p.favorites__subtitle Wool Runner
                div.favorites__icon
                    img(src="assets/images/favorites/wrap_4.png", alt="icon")
                    p Cozy Sneaker
            div.favCard
                div.link2
                    a.men(href="#") Shop Men
                    a.women(href="#") Shop Women
                p.favorites__subtitle Tree Runner
                div.favorites__icon
                    img(src="assets/images/favorites/wrap_5.png", alt="icon")
                    p Light and Breezy Sneaker
            div.favCard
                div.link3
                    a.men(href="#") Shop Men
                    a.women(href="#") Shop Women
                p.favorites__subtitle Wool Runner Mizzle
                div.favorites__icon
                    img(src="assets/images/favorites/wrap_6.png", alt="icon")
                    p Rain-Ready Sneaker



