section.footer
     div.footer__desc
        div.footer__columns
            div.footer__wrap
                 h5 Help
                 p 1-888-963-8944
                 p 1-814-251-9966
                 p help@allbirds.com
                 p Returns/Exchanges
                 p FAQ/Contact Us
                 p Afterpay
            div.footer__wrap
                 h5 Shop
                 p Men&apos;s Shoes
                 p Women&apos;s Shoes
                 p Men&apos;s Apparel
                 p Women&apos;s Apparel
                 p Socks
                 p Gift Cards
                 p Download the Allbirds App
            div.footer__wrap
                 h5 Company
                 p Our Stores
                 p Our Story
                 p Our Materials
                 p Sustainability
                 p Partnerships
                 p Product Testing
                 p Affiliates
                 p Bulk Orders
                 p Careers
                 p Press
                 p California Transparency Act
        div.footer__column
             div.footer__text
                h5 Follow the Flock
                p
                     | Exclusive offers, a heads up on new things, and
                     br
                     |sightings of Allbirds in the wild. Oh, we have cute
                     br
                     |sheep, too. #weareallbirds
        div.footer__copy
            p.copy &copy; 2021 Allbirds, Inc. All Rights Reserved.Terms,Privacy&amp;Accessibility
