header
    div.header.container
        nav
            a.men(href='#') Men
            a.women(href='#') Women
            a.arrivals(href='#') New Arrivals
            img.logo(src='assets/images/header/logo.png' alt='logo')
            a.sustan(href='#') Sustainability
            a.stores(href='#') Stores
        div.links
            a.link1(href='#')
                img(src='assets/images/header/link1.png' alt='link')
            a.link2(href='#')
                img(src='assets/images/header/link2.png' alt='link')
            a.link3(href='#')
                img(src='assets/images/header/link3.png' alt='link')

