section.hero
    div.hero__wrap
        h1.hero__title The Trail Runner SWT Is Here.
        p.hero__subtitle Durable. Comfortable. Ready to get dirty.
        div.hero__links
            a(href="#") Shop Men
            a(href="#") Shop Women
