section.new
    div.new.container
        h2.new__title New Arrivals
        div.new__cards
            img.btn(src="assets/images/new/bt.png", alt="img")
            div.new__card
                img(src="assets/images/new/1.png", alt="img")
                h5 Men's Trail Runner SWT
                p Classic Color, Natural Black
            div.new__card
                img(src="assets/images/new/2.png", alt="img")
                h5 Women's Trail Runner SWT
                p Classic Color, Natural White
            div.new__card
                img(src="assets/images/new/3.png", alt="img")
                h5 Men's Trail Runner SWT
                p Limited Edition Color, Diablo
            img.btn(src="assets/images/new/bt.png", alt="img")

