section.registration
    div.registration.container
        div.registration__work
            h3.registration__title Want First Dibs?
            p.registration__subtitle
                | Join our email list and be the first to know about new limited edition products, material innovations, and lots
                br
                |of other fun updates.
        div.registration__links
            form.email(name='test' method='post')
                input(type='text' value='Enter Your Email Address')
            a.registration__link(href='#') Sign Up
        span.registration__text Note: You can opt-out at any time. See our.Privacy Policy and Tems
