section.season
    div.season__images
        img(src='assets/images/season/4.png' alt='img')
    div.season.container
        h3.season__title Seasons Change. Your Shoes Don&rsquo;t Have To.
        p.season__subtitle Soft and cozy wool shoes to keep you comfortable all year round.
        div.season__btns
            a.season__button(href='') SHOP MEN
            a.season__button(href='') SHOP WOMEN
        div.season__slider.slider
            p.slider__title Shop The Collections
            div.slider__btn.prew
                div
            div.slider__slides-wrap
                div.slider__list
                    div.slide
                        div.slide__img
                            img(src='./assets/images/season/1.png' alt='image')
                        h5.slide__title New Arrivals
                        p.slide__subtitle
                            | The latest styles and limited edition colors that you can only find here (while they last, that is).
                    div.slide
                        div.slide__img
                            img(src='./assets/images/season/2.png' alt='image')
                        h5.slide__title Natural Run Collection
                        p.slide__subtitle
                            | Looking for more sustainable ways to break a sweat? We&rsquo;ve got you covered from head to toe.
                    div.slide
                        div.slide__img
                            img(src='./assets/images/season/3.png' alt='image')
                        h5.slide__title Fresh Long Sleeve Tee Colors
                        p.slide__subtitle It&rsquo;s crisp, clean and ready for wherever the day takes you.
            div.slider__btn.next
                div
