section.season
    div.season.container
        div.season__text
            h3.season__title Seasons Change. Your Shoes Don&rsquo;t Have To.
            p.season__subtitle Soft and cozy wool shoes to keep you comfortable all year round.
        div.season__links
            a.season__link(href='') SHOP MEN
            a.season__link(href='') SHOP WOMEN
        div.season__wrap
            p.card__subtitle Shop The Collections
        div.season__cards
            div.season__card
                img(src='./assets/images/season/1.png' alt='image')
                h5 New Arrivals
                p The latest styles and limited edition colors that you can only find here (while they last, that is).
            div.season__card
                img(src='./assets/images/season/2.png' alt='image')
                h5 Natural Run Collection
                p Looking for more sustainable ways to break a sweat? We&rsquo;ve got you covered from head to toe.
            div.season__card
                img(src='./assets/images/season/3.png' alt='image')
                h5 Fresh Long Sleeve Tee Colors
                p It’s crisp, clean and ready for wherever the day takes you.