section.stories
    div.stories.container
        h2.stories__title Stories
        div.stories__cards
            div.stories__card
                img(src="assets/images/stories/1.png", alt="img")
                h5 Planet-Friendly Activewear
                p The Natural Run Collection is made with
                    br
                    |sustainable materials that can stand up to
                    br
                    |your toughest workout.
            div.stories__card
                img(src="assets/images/stories/2.png", alt="img")
                h5 adidas and Allbirds
                p Learn more about FUTURECRAFT.FOOTPRINT,
                    br
                    |our collaborative shoe coming soon.
            div.stories__card
                img(src="assets/images/stories/3.png", alt="img")
                h5 How much did your outfit cost
                    br
                    |the planet?
                p Now any brand can use our Carbon Footprint
                    br
                    |tools to label their emissions.


